{% extends './base.html' %}

{% block extra_style %}
    <style>
	.header-area {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 9;
    padding-top: 28px;
    background: black;
        }
    </style>
{% endblock %}

{% block nav_menu  %}
    <li><a href="{% url 'home' %}">home</a></li>
    <li><a href="{% url 'cameralist'%}">cameras</a></li>
	<li><a href="{% url 'lenslist'%}">lens</a></li>
    <li><a href="{% url 'accessorieslist'%}">accessories</a></li>
    <li><a href="contact.html">Contact</a></li>
    <!--<li><a href="#">blog <i class="ti-angle-down"></i></a>
    <ul class="submenu">
    <li><a href="blog.html">blog</a></li>
    <li><a href="single-blog.html">single-blog</a></li>
    </ul>
    </li>-->                         
{% endblock %}
 {% block slider_area %}
 {% endblock %}
{% block main_content %}

    <div class="offers_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <!--<span>Our Offers</span>-->
                        <h3>{{ equipment_type }}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for article in object_list %}
                
                <div class="col-xl-4 col-md-4">
                    <div class="single_offers">
                        <div class="about_thumb">
                            <a href="{% url 'equipment-detail' slug=article.slug %}"><img src="{{ article.image.url }}" alt="img not found"></a>
                        </div>
                        <h2>{{ article.model_name }}<br>
                            {{ article.company }}</h2>
                        <ul>
                            {{ article.description | safe }}
                        </ul>
                        <a href="#" class="book_now">book now</a>
						<a href="#" class="book_now">book offline</a>
                    </div>
                </div>
            {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}